header {
  /* height: 5rem; */
  background-color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
}

header img {
  position: absolute;
  height: 2.5rem;
  margin: 0;
  margin-top: 0.2rem;
  margin-left: 0.1rem;
  float: none;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

#search-container {
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/*search bar styling*/

li input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 17px;
}

.searchButton {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}